In [1]:
import sys
sys.path.append('.')
from leaderboard_scrape import scrape_data_for_year

In [8]:
athlete_info_df, scores_df = scrape_data_for_year(2023, division= "Womens", num_pages = None)
display(athlete_info_df.head())
display(scores_df.head())

Finished page 10 of 10

       id                    name age  height  weight
0  153604           Mathew Fraser  28   67 in  195 lb
1  180541          Alex Vigneault  26   71 in  205 lb
2  702092           Willy Georges  25  179 cm   88 kg
3  308712  Jean-Simon Roy-Lemaire  24  176 cm  195 lb
4  158264         Patrick Vellner  28   71 in  195 lb

       id      18.1  18.2   18.2A      18.3  18.4      18.5
0  153604  476 reps  4:02  380 lb  916 reps  6:39  198 reps
1  180541  472 reps  4:18  382 lb  816 reps  6:48  179 reps
2  702092  460 reps  4:17  364 lb  876 reps  8:21  188 reps
3  308712  468 reps  3:58  346 lb  816 reps  7:43  178 reps
4  158264  476 reps  4:06  343 lb  917 reps  6:49  174 reps